/* navbar */
* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    background-color: rgb(113, 113, 232);
}
.navbar-brand img{
    margin-left: 40px;
}

.d-flex button{
    margin-left: 10px;
}
.d-flex a{
    text-decoration: none;
    color: white;
}
.d-flex a:hover{
    color: cornsilk;
}

.announce{
    justify-content:space-around;
}
